.light-theme {
  background-color: #fff;
  color: #333;
}

.light-theme button {
  background-color: #fff;
  color: #333;
  border: 2px solid #333;
}

.dark-theme {
  background-color: #282c34;
  color: #fff;
}

.dark-theme button {
  background-color: #333;
  color: #fff;
  border: 2px solid #fff;
}
